/* styles */
/* called by your view template */

/* You might want to try something fancier: */
/* less: http://lesscss.org/ */

* {
  box-sizing: border-box;
}

body {
  background-color: #333399;
  font-family: helvetica, arial, sans-serif;
  margin: 25px;
}

h1 {
  text-align: center;
  font-size: 700%;
  font-weight: bold;
  color:  #f2e6ff;
/*    text-outline: 2px 2px  #b3d9ff; */
/*    text-shadow:
    -10px -10px 5px #c266ff,
    10px -10px 5px #c266ff,
    -10px 10px 5px #c266ff,
    10px 10px 5px #c266ff;   */
text-shadow: 1px 1px 2px purple, 0 0 50px #c266ff, 0 0 5px darkblue;
}

h2{
   font-size: 300%;
    color: crimson;
  text-shadow:
    -2px -2px 0 #b3d9ff,
    2px -2px 0 #b3d9ff,
    -2px 2px 0 #b3d9ff,
    2px 2px 0 #b3d9ff; 
}

.bold {
  font-weight: bold;
}

p {
  font-size: 150%;
  max-width: 600px;
  color : #ebccff;
}

div{
   border: solid green;
   padding:10px 20% 15px 20%;
} 

.align-center{
/*     display: inline; */
    margin-left: auto;
    margin-right: auto;
/*     justify-content: center; */
    width: 30%;
    padding: 10px;
/*     text-align:center; */
  
}


img{
  display: block;
  margin: auto;
  width: 30%
}  


form {
  margin-bottom: 25px;
  padding: 15px;
  background-color: cyan;
  display: inline-block;
  width: 100%;
  max-width: 340px;
  border-radius: 3px;
}



button {
  width: 100%;
  padding: 10px 20px;
  font-size: 300%;
  font-weight: bold;
  font-family: helvetica;
  border-radius: 10px;
  background-color: lightgrey;
  border: 1px solid grey;
  box-shadow: 2px 2px teal;
  cursor: pointer;
}

button:hover {
  background-color: yellow;
}

button:active {
  box-shadow: none;
}

footer {
  margin-top: 50px;
  padding-top: 25px;
  border-top: 1px solid lightgrey;
}

footer > a {
  color: #BBBBBB;
}

.nicejob {
  text-decoration: line-through;
}
